body {
    width: 100px;
    height: 200px;
}

#date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#time {
    display: flex;
    justify-content: center;
}